<html>
  <body>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

    <link rel="stylesheet" href="css/main.css" />
    <div class="sidebar" style="background-color: #1f283d">
      <div class="logo">
        <div to="/" class="simple-text logo-normal text-warning">V486 C&C</div>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <a href="../home" class="nav-link">
            <li class="nav-item">
              <div style="display: flex; align-items: center; gap: 10px">
                <span class="material-symbols-outlined"> home </span>
                <p class="d-inline">Cluster Listing</p>
              </div>
            </li>
          </a>
          <a href="../user" class="nav-link">
            <li class="nav-item">
              <div style="display: flex; align-items: center; gap: 10px">
                <span class="material-symbols-outlined"> person </span>
                <p class="d-inline">User Managerment</p>
              </div>
            </li>
          </a>
          <a href="../logout" class="nav-link">
            <li class="nav-item">
              <div style="display: flex; align-items: center; gap: 10px">
                <span class="material-symbols-outlined"> logout </span>
                <p class="d-inline">Logout</p>
              </div>
            </li>
          </a>
        </ul>
      </div>
    </div>
  </body>
</html>
